body {
  background-color: beige;
}
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
